:host {
  position: sticky;
  bottom: 0;
  background: rgba(white, .65);
  backdrop-filter: blur(6px);
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 2rem;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px 25px;
  border: none;
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
  transition: 300ms ease;
  line-height: 1;
  border-radius: 3px;
  min-height: 50px;
  height: 100%;
  font-size: 2rem;

  &:hover {
    background-color: rgba(black, .75);
    color: white;
  }
}
